@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme {
  --font-sans: var(--font-inter);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-soft: var(--soft);
  --color-muted: var(--muted);
}

:root {
  /* Paleta TechnoUltra Premium */
  --background: #0F172A;
  /* Deep Blue Background */
  --foreground: #F8FAFC;
  /* Off-white Text */

  --primary: #0F172A;
  --secondary: #94A3B8;
  --accent: #EA580C;
  --soft: #1E293B;
  --muted: #334155;

  --font-inter: "Inter", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
    @apply bg-background text-foreground;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--muted);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass {
    @apply bg-[#0F172A]/80 backdrop-blur-xl border border-white/5 shadow-2xl;
  }

  .text-glow {
    text-shadow: 0 0 20px rgba(234, 88, 12, 0.3);
  }
}